*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla;
}

header{
  text-align: center;
  color: white;
  background-color: navy;
  padding: 1.5em;
}

.card{
  margin-top: 3em;
  margin-left: 1.25em;
  margin-right: 1.25em;
  margin-bottom: 1em;
  display: flex;
}

.image{
  width: 25%;
}

.card-info{
  padding: 2em;
  margin-right: 2em;
  margin-left: 1em;
  color: #2B283A;
}

span{
  letter-spacing: 1.5px;
  margin-right: 1em ;
}

a{
  color: gray;
}

.card-title{
  margin-top: 1em;
  padding-bottom: 1em;
}

.card-date{
  letter-spacing: 1px;
  padding: 1em;
}
